.tiptap p {
  font-size: 1em;
  line-height: 1.15rem;
  margin-bottom: 1.15rem;
}

.tiptap h3 {
  font-size: 1.75em;
  line-height: 1.15rem;
  margin: 2.75rem 0 1.05rem;
}

.tiptap h4 {
  font-size: 1.5em;
  line-height: 1.15rem;
  margin: 2.75rem 0 1.05rem;
}
